_The main focus of this assignment is Frequent Patternset Mining from theoretical as well as practical perspective_

## Problem 1: Association Rule Mining

Consider the following dataset

{onion, apple, butter, yogurt, eggs, apple} <br>
{onion, apple, butter, yogurt, eggs, milk} <br>
{eggs, milk, butter, yogurt, eggs, milk} <br>
{cheese, milk, butter, yogurt, eggs, milk} <br>
{cheese, milk, eggs, milk}

- Using the FP-Tree algorithm with min support  = 0.6 and min confidence = 0.75 find all 3-frequent and all 4-frequent items. Show your work.
- List 3 frequent item rulesets that can be derived from the previous set
- Show that any 3-frequent itemsets can be derived from 2-frequent itemsets

_Note: Do not write code to answer this question_

In [1]:
## Problem 2: Applications of FP Mining

Using the NIS Flanders Traffic Accident Dataset apply Frequent Itemset Mining to identify the road conditions, type of roads associated with accidents. Identify other rules of interest that are associated with accidents or lack thereof. Make a case regarding how you can use these rules to reduce traffic accidents.

In [3]:
# Load the Relevant libraries
import sklearn as sk
import urllib
import pandas as pd

In [4]:
# URL for the Traffic Data (UW Repository)
# link for dataset description http://fimi.uantwerpen.be/data/accidents.pdf
#url = "NISTraffic.csv"
url = "file:///'C|Users/ricej/Documents/GitHub/Joeda/ML_310/L6/NISTraffic.csv"
# download the file
raw_data = urllib.request.urlopen(url)

In [16]:
D = []
T = []
W = []
"""Compute candidate 1-itemset"""
C1 = {}
"""total number of transactions contained in the file"""
transactions = 0
txn_cap = 100
with open("NISTraffic.csv", "r") as f:
    for line in f:
        T = []
        transactions += 1  
        if transactions <= txn_cap:
            for word in line.split(","):
                if word != '' and word != '\n':
                    W.append(word)
                    T.append(str("F"+word))
                    if word not in C1.keys():
                        C1[word] = 1
                    else:
                        count = C1[word]
                        C1[word] = count + 1
        D.append(T)

In [6]:
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [7]:
D = D[:100]

In [8]:
te = TransactionEncoder()
te_ary = te.fit(D).transform(D)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
df.shape

(100, 168)

In [11]:
frequent_itemsets = apriori(df, min_support=0.9, use_colnames=False)
frequent_itemsets.shape

(47, 2)

In [12]:
frequent_itemsets

    support              itemsets
0      1.00                  (23)
1      0.97                  (67)
2      1.00                  (77)
3      1.00                  (78)
4      0.94                  (82)
5      0.92                  (90)
6      0.90                 (106)
7      0.97              (67, 23)
8      1.00              (77, 23)
9      1.00              (78, 23)
10     0.94              (82, 23)
11     0.92              (90, 23)
12     0.90             (106, 23)
13     0.97              (67, 77)
14     0.97              (67, 78)
15     0.91              (82, 67)
16     1.00              (77, 78)
17     0.94              (82, 77)
18     0.92              (90, 77)
19     0.90             (106, 77)
20     0.94              (82, 78)
21     0.92              (90, 78)
22     0.90             (106, 78)
23     0.97          (67, 77, 23)
24     0.97          (67, 78, 23)
25     0.91          (82, 67, 23)
26     1.00          (77, 78, 23)
27     0.94          (82, 77, 23)
28     0.92          (90, 77, 23)
29     0.90         (106, 77, 23)
30     0.94          (82, 78, 23)
31     0.92          (90, 78, 23)
32     0.90         (106, 78, 23)
33     0.97          (67, 77, 78)
34     0.91          (82, 67, 77)
35     0.91          (82, 67, 78)
36     0.94          (82, 77, 78)
37     0.92          (90, 77, 78)
38     0.90         (106, 77, 78)
39     0.97      (67, 77, 78, 23)
40     0.91      (82, 67, 77, 23)
41     0.91      (82, 67, 78, 23)
42     0.94      (82, 77, 78, 23)
43     0.92      (90, 77, 78, 23)
44     0.90     (106, 77, 78, 23)
45     0.91      (82, 67, 77, 78)
46     0.91  (67, 77, 78, 82, 23)

In [ ]:
# do a few random samples and see what rules seem to rise to the top consistently